<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- API host appender -->
  <appender name="ApiFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Api.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Incidents feature appender -->
  <appender name="IncidentsFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Incidents.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Problems feature appender -->
  <appender name="ProblemsFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Problems.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Changes feature appender -->
  <appender name="ChangesFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Changes.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- SLA feature appender -->
  <appender name="SlaFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Sla.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Administration feature appender -->
  <appender name="AdminFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Admin.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Infrastructure appender -->
  <appender name="InfraFile" type="log4net.Appender.RollingFileAppender">
    <file value="logs\Infrastructure.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Per-feature loggers -->
  <logger name="ApertureITSM.Features.Incidents">
    <level value="INFO" />
    <appender-ref ref="IncidentsFile" />
  </logger>

  <logger name="ApertureITSM.Features.Problems">
    <level value="INFO" />
    <appender-ref ref="ProblemsFile" />
  </logger>

  <logger name="ApertureITSM.Features.Changes">
    <level value="INFO" />
    <appender-ref ref="ChangesFile" />
  </logger>

  <logger name="ApertureITSM.Features.Sla">
    <level value="INFO" />
    <appender-ref ref="SlaFile" />
  </logger>

  <logger name="ApertureITSM.Api.Controllers.AdminController">
    <level value="INFO" />
    <appender-ref ref="AdminFile" />
  </logger>

  <logger name="ApertureITSM.Infrastructure.Repositories.AdminRepository">
    <level value="INFO" />
    <appender-ref ref="AdminFile" />
  </logger>

  <logger name="ApertureITSM.Infrastructure">
    <level value="INFO" />
    <appender-ref ref="InfraFile" />
  </logger>

  <!-- Root: catches everything else → Api.log -->
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ApiFile" />
  </root>

</log4net>
